$giggle-yellow: #faf6cb;
$giggle-yellow2: #fffcd5;
$color-black: #101010;

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
    //transform: translate(-70%, -50%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
    //transform: translate(-50%, -50%);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
    //transform: translate(-30%, -50%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
    //transform: translate(-50%, -50%);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem);
    //transform: translate(-50%, -30%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    //transform: translate(-50%, -50%);
  }
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-10rem);
    //transform: translate(-50%, -30%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    //transform: translate(-50%, -50%);
  }
}

h2 {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300;
  text-align: center;
  padding: 3rem 0;
}

h5 {
  font-size: 1.7rem;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  background-color: rgb(24, 24, 20);
  color: $giggle-yellow;
}

/*--Header--*/
.nav {
  display: flex;
  padding: 1rem 2rem;
  //justify-content: space-between;
  align-items: center;
  //max-width: 1500px;
  margin: auto;
  animation: moveInTop 0.4s ease-out 0.6s;
  animation-fill-mode: backwards;
  letter-spacing: 2px;
  font-weight: 400;
  //position: fixed;

  width: 100%;
  z-index: 2343;
  &-logo-container {
    width: 3rem;
  }
  &-items {
    display: flex;
    flex: 1;
    font-size: 1rem;
    list-style: none;
    justify-content: flex-end;
    a {
      text-decoration: none;
      color: $giggle-yellow;
    }
  }
  &-item {
    margin-left: 2.5rem;
  }
}

.logo {
  width: 100%;
}

.header {
  height: 100vh;
  //padding: 5rem;
  //z-index: 3433;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  background-image: linear-gradient(
      to bottom,
      rgba(#13120e, 0.99),
      rgba(#181714, 0.8)
    ),
    url(/gallery4.jpg);
  background-position: center;
  background-attachment: fixed;
  //background-repeat: no-repeat;
  background-size: cover;
  //filter: blur(2px);

  &-box {
    //width: 75%;
    margin: auto;
    padding-top: 6rem;
    max-width: 700px;
    position: absolute;
    text-align: center;
    top: 45%;
    left: 50%;
    //animation: moveInLeft 1s ease;
    //display: flex;
    flex-direction: column;
    transform: translate(-50%, -50%);
    &-title {
      animation: moveInLeft 1s ease-out;
      img {
        width: 100%;
        padding: 1rem 0;
        //animation: moveInLeft 1s ease;
        //animation: moveInLeft 0.3 ease;
      }
    }
    &-banner {
      width: 90%;
      margin: auto;
      animation: moveInRight 1s ease-out;
      img {
        width: 100%;
        padding-bottom: 1rem;
      }
    }
  }
}

// &-btn {
//   font-size: 0.8rem;
//   text-transform: uppercase;
//   text-align: center;
//   display: inline-block;
//   align-items: center;
//   justify-content: center;
//   margin: 1.5rem auto;
//   padding: 0.7rem 1.6rem;
//   background-color: rgba($color-black, 0.2);
//   color: $giggle-yellow2;
//   text-decoration: none;
//   border-radius: 50rem;
//   border: 1px solid #504e4b;
//   transition: all 0.2s ease;
//   &:hover {
//     background-color: rgba($giggle-yellow2, 1);
//     color: $color-black;
//     transform: translateY(-4px);
//     box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
//     border: none;
//   }
//   &:active {
//     transform: translateY(-2px);
//     box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
//   }
// }

.hidden {
  display: none;
}

.btn {
  text-transform: uppercase;
  text-decoration: none;

  display: inline-block;
  //justify-content: center;
  border-radius: 20rem;
  transition: all 0.2s ease;
  position: relative;

  background-color: rgba($color-black, 0.2);
  color: $giggle-yellow2;
  border: 1px solid #504e4b;
  margin-top: 1rem;
  backface-visibility: hidden;
  font-weight: 400;
  letter-spacing: 1.5px;
  //width: 40%;
  &:link,
  &:visited {
  }

  &-header {
    padding: 10px 1.6rem;
    animation: moveInBottom 0.7s ease-out 0.3s;
    animation-fill-mode: backwards;
    font-size: 1rem;
  }

  &-card {
    margin: 0px 40px 20px 40px;
    padding: 10px;
    font-size: 1rem;
  }
  &-about {
    margin: 10px 40px 40px 40px;
    padding: 10px 30px;
    font-size: 1rem;
  }
  &-arrow {
    &:hover {
      transform: translateX(130px);
      //color: red;
    }
  }
  &:hover {
    transform: translateY(-0.3rem);
    background-color: rgba($giggle-yellow2, 1);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    color: $color-black;
    &-arrow {
    }
    .btn-arrow {
      color: red;
      transform: translateX(130px);
    }
  }
  &:active {
    transform: translateY(-0.1rem);
    background-color: rgba($giggle-yellow2, 1);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
    color: $color-black;
  }
}

.section-about {
  min-height: 130vh;
  background-color: rgb(24, 24, 20);
  margin-top: -20vh;
  padding-top: 20vh;
  text-align: center;
  //transform: skewY(0deg);
  &-title {
    transition: all 1s ease;
  }
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 50px 90px 25px 90px;
  transition: all 1s ease;
  height: 35rem;
  &-card {
    //border: 2px solid purple;
    width: 350px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    background-image: linear-gradient(
      to bottom left,
      rgba(28, 28, 28, 0.961),
      rgba(63, 63, 63, 0.913)
    );
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2.5rem 4rem rgba(17, 17, 17, 0.5);
    transition: all 0.3s ease;
    backface-visibility: hidden;

    &:hover {
      transform: translateY(-10px);
    }
    &-pic {
      //border: 2px solid yellow;
      height: 250px;

      background-position: center;
      background-size: cover;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
      &_c1 {
        background-image: linear-gradient(
            to bottom right,
            rgba(#13120e, 0),
            rgba(#181714, 0.3)
          ),
          url(/casper.jpg);

        transition: all 0.5s ease;
        &:hover {
          filter: blur(0);
        }
      }
      &_c2 {
        background-image: linear-gradient(
            to bottom,
            rgba(#13120e, 0),
            rgba(#181714, 0.3)
          ),
          url(/error.jpg);
      }
      &_c3 {
        background-image: linear-gradient(
            to bottom,
            rgba(#13120e, 0),
            rgba(#181714, 0.3)
          ),
          url(/mixing-glass.jpg);
      }
    }
    &-title {
      //border: 2px solid blue;
      position: absolute;
      right: 5%;
      top: 37%;
      font-size: 1.6rem;
      text-transform: uppercase;
      //margin-bottom: 10px;
    }
    &-description {
      //border: 2px solid green;
      padding: 10px 17px;
      font-size: 1.2rem;
      height: 110px;
    }
  }
}

.card-descriptions {
  list-style: none;
  font-size: 1.2rem;
  li {
    padding: 0.7rem;
    &:after {
      content: "";
      width: 65%;
      border: 1px solid rgba(196, 189, 149, 0.283);
      z-index: 4;
      display: block;
      margin: auto;
      transform: translateY(0.7rem);
    }
    &:last-child:after {
      content: none;
    }
  }
}

.section-extra {
  height: 50vh;
  //background-color: $giggle-yellow;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-image: linear-gradient(
      to bottom,
      rgba(#13120e, 0.99),
      rgba(#181714, 0.8)
    ),
    url(/gallery13.jpg);
}

.card-blur {
  filter: blur(4px);
  opacity: 0;
}

.title-hidden {
  opacity: 0;
  transform: translateY(-70px);
}

.section-map {
  height: 100vh;
  margin: 80px;
  background-color: rgb(24, 24, 20);
  background-position: center;
  background-size: cover;
  position: relative;
  background-image: linear-gradient(
      to bottom,
      rgba(#13120e, 0.2),
      rgba(#181714, 0.2)
    ),
    url(/this.png);
}

.form {
  font-size: 1.4rem;
  padding: 1rem 2rem;
  &-box {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: #101010d7;
  }
  &-title {
    text-align: center;
    margin: 30px;
    line-height: 50px;
  }
}

input {
  padding: 11px 1rem;
  margin: 17px 0;
  background-color: $giggle-yellow;
  font-size: 1.2rem;
  width: 80%;
  font-family: "Josefin Sans";
  border-radius: 200px;
  border: none;
  outline: none;
  color: #434343;
}

textarea {
  height: 150px;
  margin-top: 17px;
  padding: 11px 1rem;
  width: 80%;
  background-color: $giggle-yellow;
  font-size: 1.2rem;
  font-family: "Josefin Sans";
  border-radius: 20px;
  border: none;
  outline: none;
  color: #434343;
}

ion-icon {
  font-size: 2rem;
  color: $giggle-yellow2;
  cursor: pointer;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.4rem;
  padding: 2rem;
  background-color: rgba(57, 42, 37, 0.646);
  &-logo {
    width: 4rem;
  }
  &-socials {
    display: flex;
    div {
      padding: 0.5rem;
    }
  }
  &-email {
    color: $giggle-yellow2;
    text-decoration: none;
  }
}

/* SLIDER */
.slider {
  //border: 4px solid green;
  height: 35rem;
  margin: 0 auto;
  position: relative;
  /* IN THE END */
  overflow: hidden;
  max-width: 1000px;
}

.slide {
  position: absolute;
  //border: 2px solid red;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translateX();
  display: flex;
  align-items: center;
  justify-content: center;

  /* THIS creates the animation! */
  transition: transform 1s;
}

.slide > img {
  /* Only for images that have different size than slide */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider__btn {
  position: absolute;
  top: 50%;
  z-index: 10;

  border: none;
  background: $giggle-yellow2;
  font-family: inherit;
  color: #333;
  border-radius: 50%;
  height: 2.75rem;
  width: 2.75rem;
  font-size: 1.666rem;
  cursor: pointer;
  outline: none;
}

.slider__btn--left {
  left: 6%;
  transform: translate(-50%, -50%);
}

.slider__btn--right {
  right: 6%;
  transform: translate(50%, -50%);
}

.dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dots__dot {
  border: none;
  background-color: #b9b9b9;
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;
  outline: none;

  /* Only necessary when overlying images */
  /* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */
}

.dots__dot:last-child {
  margin: 0;
}

.dots__dot--active {
  background-color: $giggle-yellow2;
  opacity: 1;
}

/* TESTIMONIALS */
.testimonial {
  width: 65%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.testimonial::before {
  content: "\201C";
  position: absolute;
  top: -2.7rem;
  left: -3.8rem;
  line-height: 1;
  font-size: 10rem;
  font-family: inherit;
  z-index: -1;
}

.testimonial__header {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 1.5rem;
}

.testimonial__text {
  font-size: 1.6rem;
  margin-bottom: 3.5rem;
  color: #666;
}

.testimonial__author {
  margin-left: 3rem;
  font-style: normal;

  display: grid;
  grid-template-columns: 6.5rem 1fr;
  column-gap: 2rem;
}

.testimonial__photo {
  grid-row: 1 / span 2;
  width: 6.5rem;
  height: 6.5rem;
  border-radius: 50%;
}

.testimonial__name {
  font-size: 1.7rem;
  font-weight: 500;
  align-self: end;
  margin: 0;
}

.testimonial__location {
  font-size: 1.5rem;
}

.section__title--testimonials {
  margin-bottom: 4rem;
}

.section-reviews {
  margin: auto;
  background-image: linear-gradient(
    to bottom right,
    rgb(21, 21, 21),
    rgb(43, 41, 30)
  );
  height: 100vh;
}

.test {
  height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  background-image: linear-gradient(
    to bottom right,
    rgba(rgb(106, 174, 108), 1),
    rgba(rgb(95, 155, 136), 1)
  );
}

@keyframes rainbow {
  0%,
  100% {
    background-color: rgb(201, 30, 30);
    box-shadow: 2px 6px 6px rgba($color: #000000, $alpha: 0.3);
    color: #aeab9b;
    transform: translateY(-5px);
  }
  10% {
    background-color: rgb(201, 138, 30);
    box-shadow: 4px 10px 6px rgba($color: #000000, $alpha: 0.2);
    color: #41403a;
    transform: translateY(-10px);
  }
  20% {
    background-color: rgb(201, 187, 30);
    box-shadow: 4px 10px 6px rgba($color: #000000, $alpha: 0.2);
    color: #41403a;
    transform: translateY(-10px);
  }
  30% {
    background-color: rgb(73, 201, 30);
    box-shadow: 4px 10px 6px rgba($color: #000000, $alpha: 0.2);
    color: #41403a;
    transform: translateY(-10px);
  }
  40% {
    background-color: rgb(30, 201, 170);
    box-shadow: 2px 6px 6px rgba($color: #000000, $alpha: 0.3);
    color: #41403a;
    transform: translateY(-5px);
  }
  50% {
    background-color: rgb(30, 127, 201);
    box-shadow: 4px 10px 6px rgba($color: #000000, $alpha: 0.2);
    color: #41403a;
    transform: translateY(-10px);
  }
  60% {
    background-color: rgb(44, 30, 201);
    box-shadow: 4px 10px 6px rgba($color: #000000, $alpha: 0.2);
    color: #aeab9b;
    transform: translateY(-10px);
  }
  70% {
    background-color: rgb(144, 30, 201);
    box-shadow: 2px 6px 6px rgba($color: #000000, $alpha: 0.3);
    color: #aeab9b;
    transform: translateY(-5px);
  }
  80% {
    background-color: rgb(198, 30, 201);
    box-shadow: 4px 10px 6px rgba($color: #000000, $alpha: 0.2);
    color: #aeab9b;
    transform: translateY(-10px);
  }
  90% {
    background-color: rgb(201, 30, 124);
    box-shadow: 4px 10px 6px rgba($color: #000000, $alpha: 0.2);
    color: #aeab9b;
    transform: translateY(-10px);
  }
}

@keyframes other {
  0%,
  100% {
    background-color: #7400b8;
    box-shadow: 2px 6px 6px rgba($color: #000000, $alpha: 0.3);

    transform: translateY(-5px);
  }
  10% {
    background-color: #6930c3;
    box-shadow: 4px 10px 6px rgba($color: #000000, $alpha: 0.2);

    transform: translateY(-10px);
  }
  20% {
    background-color: #5e60ce;
    box-shadow: 4px 10px 6px rgba($color: #000000, $alpha: 0.2);

    transform: translateY(-10px);
  }
  30% {
    background-color: #5390d9;
    box-shadow: 4px 10px 6px rgba($color: #000000, $alpha: 0.2);

    transform: translateY(-10px);
  }
  40% {
    background-color: #4ea8de;
    box-shadow: 2px 6px 6px rgba($color: #000000, $alpha: 0.3);

    transform: translateY(-5px);
  }
  50% {
    background-color: #48bfe3;
    box-shadow: 4px 10px 6px rgba($color: #000000, $alpha: 0.2);

    transform: translateY(-10px);
  }
  60% {
    background-color: #56cfe1;
    box-shadow: 4px 10px 6px rgba($color: #000000, $alpha: 0.2);

    transform: translateY(-10px);
  }
  70% {
    background-color: #64dfdf;
    box-shadow: 2px 6px 6px rgba($color: #000000, $alpha: 0.3);

    transform: translateY(-5px);
  }
  80% {
    background-color: #72efdd;
    box-shadow: 4px 10px 6px rgba($color: #000000, $alpha: 0.2);

    transform: translateY(-10px);
  }
  90% {
    background-color: #80ffdb;
    box-shadow: 4px 10px 6px rgba($color: #000000, $alpha: 0.2);

    transform: translateY(-10px);
  }
}

.box {
  //background-color: rgba($color: #000000, $alpha: 1);
  font-size: 4rem;
  margin-left: 400px;
  animation: rainbow 2s linear infinite;
  padding: 2rem;
  font-weight: 600;
  border-radius: 15px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  //border: rgb(143, 143, 143) 2px solid;

  //transition: all 0.5s ease;
  &:hover {
  }
}

.cover {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  //background-image: linear-gradient(
  //   to bottom right,
  //   rgba(#838383, 0.1),
  //   rgba(#989898, 0.6)
  // );
}

.break {
}

.form-title {
  padding: 0;
}

.title-highlight {
  background-image: linear-gradient(
    to bottom left,
    rgba(28, 28, 28, 0.961),
    rgba(63, 63, 63, 0.913)
  );
  padding: 0.8rem 1rem 0.5rem 1rem;
}
