$giggle-yellow: #faf6cb;
$giggle-yellow2: #fffcd5;
$color-black: #101010;

// @import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  background-color: $color-black;
  color: $giggle-yellow;
}

/*--Header--*/
.nav {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  &-logo-container {
    width: 3rem;
  }
  &-items {
    display: flex;
    flex: 1;
    list-style: none;
    justify-content: flex-end;
    a {
      text-decoration: none;
      color: $giggle-yellow;
    }
  }
  &-item {
    padding-right: 1.5rem;
  }
}

.logo {
  width: 100%;
}

.landing {
  height: 100vh;
  //padding: 5rem;
  z-index: 3433;
  position: relative;

  background-image: linear-gradient(
      to bottom,
      rgba(#13120e, 0.99),
      rgba(#181714, 0.8)
    ),
    url(../img/Gallery/gallery4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // filter: blur(2px);

  &-title-container {
    width: 75%;
    margin: auto;
    padding-top: 6rem;
    img {
      width: 100%;
      padding: 1rem 0;
    }
  }
  &-drinks-banner {
    width: 65%;
    margin: auto;
    img {
      width: 100%;
    }
  }
  &-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -334;
    width: 100%;

    img {
      object-fit: cover;
      width: 100%;
    }
  }
  &-btn {
    font-size: 0.8rem;
    text-transform: uppercase;
    display: flex;

    a {
      margin: 1.5rem auto;
      padding: 0.7rem 1.6rem;
      background-color: rgba($color-black, 0.2);
      color: $giggle-yellow2;
      text-decoration: none;
      border-radius: 50rem;
      border: 1px solid #504e4b;
      transition: all 0.2s ease;
      &:hover {
        background-color: rgba($giggle-yellow2, 1);
        color: $color-black;
        transform: translateY(-4px);
        box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
        border: none;
      }
      &:active {
        transform: translateY(-2px);
        box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
      }
    }
  }
}

.hidden {
  display: none;
}
